<nav class="navbar navbar-default" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">CRÉATION JIMEN</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/carrycots">Nos couffins</a></li>
                <li routerLinkActive="active"><a routerLink="/add">Ajoutez un!</a></li>
                <li routerLinkActive="active"><a routerLink="/suggest" >Proposez !</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer" class="dropdown-toggle" >Plus <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer">Contactez nous</a></li>
                        <li><a style="cursor: pointer">À propos de nous</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
