<a class="list-group-item clearfix carrycot-item" style="cursor: pointer" [routerLink]="['./',carrycot.id]" routerLinkActive="active">
<div class="pull-left">
    <h4 class="list-group-item-heading">{{ carrycot.name }}</h4>
    <!--                <div style="height: 150px; width: 150px; background-image: url({{ carrycot.imagePath}}); background-size: contain; background-repeat: no-repeat"></div>-->
    <img [src]="carrycot.imagePath" alt="image couffin" class="img-responsive" style="max-height: 150px;">
</div>
</a>
