<!--The content below is only a placeholder and can be replaced.-->
<app-header (navSelected) = "onSelectedNav($event)"></app-header>
<router-outlet></router-outlet>
<!--<app-home></app-home>-->
<!--<div class="container">-->

<!--  <app-carrycot *ngIf="navToDisplay === 'carrycotList'"></app-carrycot>-->
<!--  <app-carrycot-add *ngIf="navToDisplay === 'newArticle'"></app-carrycot-add>-->
<!--  <app-carrycot-suggest *ngIf="navToDisplay === 'suggestCarrycot'"></app-carrycot-suggest>-->
<!--</div>-->
<app-footer></app-footer>
